# This file goes under /etc/systemd/system/
# Must set permissions as chmod 664
[Unit]
Description=Startup script for cooking web site

[Service]
Type=simple
Environment=BLOG_USR=***
Environment=BLOG_PASS=***
Environment=BLOG_SALT=***

WorkingDirectory=/root/cooking
ExecStart=/root/cooking/cooking -address "localhost:9002"
Restart=always

[Install]
WantedBy=multi-user.target
