# This file goes under /etc/systemd/system/
# Must set permissions as chmod 664
[Unit]
Description=Startup script for hectorcorrea.com

[Service]
Type=simple
Environment=BLOG_USR=***
Environment=BLOG_PASS=***
Environment=BLOG_SALT=***

WorkingDirectory=/root/hectorcorrea.com
ExecStart=/root/hectorcorrea.com/hectorcorrea.com -port 9001
Restart=always

[Install]
WantedBy=multi-user.target
