# This file goes under /etc/systemd/system/
# Must set permissions as chmod 664
[Unit]
Description=Hello world test service

[Service]
Type=simple
Environment=DB_USER=fake-user
WorkingDirectory=/root/ubuntuserver/helloworld
ExecStart=/root/ubuntuserver/helloworld/helloworld_linux -port 9001
Restart=always

[Install]
WantedBy=multi-user.target