# This file goes under /etc/systemd/system/
# Must set permissions as chmod 664
[Unit]
Description=My hello world test service

[Service]
Type=simple
Environment=DB_USER=userxyz
WorkingDirectory=/root/ubuntuserver/helloworld
ExecStart=/root/ubuntuserver/helloworld/helloworld_linux
Restart=always

[Install]
WantedBy=multi-user.target