# This file goes under /etc/systemd/system/
# Must set permissions as chmod 664
[Unit]
Description=Startup script for H&K

[Service]
Type=simple
Environment=DB_USER=***
Environment=DB_PASSWORD=***
Environment=DB_NAME=***
Environment=BLOG_USR=***
Environment=BLOG_PASS=***
Environment=BLOG_SALT=***
Environment=BLOG_GUEST_USR=***
Environment=BLOG_GUEST_PASS=***

WorkingDirectory=/root/hk
ExecStart=/root/hk/hk -address localhost:3003
Restart=always

[Install]
WantedBy=multi-user.target
